<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7-2-Tugas-Ajax</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

</head>

<body>
    <div id="app">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">7-2-Tugas-Ajax</h1>
                        </div>
                        <div class="card-body">
                            <div v-if="errors.length" class="alert alert-danger fade show" role="alert">
                                <strong>Error!</strong>
                                <hr>
                                <ul class="pl-4">
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </div>
                            <div v-if="buttonStatus == 'show'">
                                <img :src="photo_profile ? photoDomain + photo_profile : 'https://dummyimage.com/16:9x1080'"
                                    class="img-responsive" style="width: 100%; height: auto;" :alt="name"
                                    :title="photo_profile ? name : 'dummyimage.com'">
                            </div>
                            <form @submit.prevent="submitForm()">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        :readonly="buttonStatus == 'upload' || buttonStatus == 'show'" ref="name"
                                        v-model="name">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea name="address" id="address" class="form-control"
                                        :readonly="buttonStatus == 'upload' || buttonStatus == 'show'" ref="address"
                                        v-model="address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="no_hp">Mobile Number</label>
                                    <input type="text" name="no_hp" id="no_hp" class="form-control"
                                        :readonly="buttonStatus == 'upload' || buttonStatus == 'show'" ref="no_hp"
                                        v-model="no_hp">
                                </div>
                                <div v-if="buttonStatus == 'submit'" class="d-flex justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                                <div v-else-if="buttonStatus == 'show'" class="d-flex justify-content-between">
                                    <input type="button" value="Back" class="btn btn-outline-secondary"
                                        @click="clearForm">
                                </div>
                                <div v-else-if="buttonStatus == 'update'" class="d-flex justify-content-between">
                                    <input type="button" class="btn btn-primary" value="Update"
                                        @click="updateMember(idEditMember)">
                                    <input type="button" class="btn btn-outline-secondary" value="Cancel"
                                        @click="clearForm">
                                </div>
                                <div v-else-if="buttonStatus == 'upload'">
                                    <div class="form-group">
                                        <label for="photo_profile">Upload Photo Profile</label>
                                        <input type="file" class="form-control-file" name="photo_profile"
                                            id="photo_profile" ref="photo_profile">
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <input type="button" class="btn btn-primary" value="Upload"
                                            @click="submitPhoto(idUploadMember)">
                                        <input type="button" class="btn btn-outline-secondary" value="Cancel"
                                            @click="clearForm">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 no-gutters">
                <div class="col-12 mx-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Photo</th>
                                <th class="text-center">Biodata</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(member, index) of members">
                                <td class="text-center">{{ index + 1 }}</td>
                                <td>
                                    <img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'"
                                        class="img-responsive" style="max-width: 100px; height: auto;"
                                        :alt="member.name"
                                        :title="member.photo_profile ? member.name : 'dummyimage.com'">
                                </td>
                                <td>
                                    <dl class="row">
                                        <dt class="col-4 font-weight-normal">Name</dt>
                                        <dt class="col-8">{{ member.name }}</dt>
                                    </dl>
                                    <dl class="row">
                                        <dt class="col-4 font-weight-normal">Address</dt>
                                        <dt class="col-8 font-weight-normal">{{ member.address }}</dt>
                                    </dl>
                                    <dl class="row">
                                        <dt class="col-4 font-weight-normal">Mobile</dt>
                                        <dt class="col-8 font-weight-normal">{{ member.no_hp }}</dt>
                                    </dl>
                                </td>
                                <td class="text-center">
                                    <button @click="showMember(member.id)" class="btn btn-sm btn-success">Show</button>
                                    <button @click="editMember(member)" class="btn btn-sm btn-warning">Edit</button>
                                    <button @click="removeMember(member.id)"
                                        class="btn btn-sm btn-danger">Delete</button>
                                    <button @click="uploadPhoto(member)" class="btn btn-sm btn-primary">Upload</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                photo_profile: null,
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember: null,
            },

            methods: {

                toTop: function () {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    })
                },
                validationForm: function () {
                    this.errors = []

                    if (this.name.length < 5) {
                        this.errors.push('Nama minimal 5 karakter.')
                        this.$refs.name.focus()
                    }

                    if (this.address.length < 10) {
                        this.errors.push('Alamat minimal 10 karakter.')
                        this.$refs.address.focus()
                    }

                    let numbers = /^[0-9]+$/

                    if (this.no_hp.match(numbers)) {
                        if (this.no_hp.length < 8) {
                            this.errors.push('No. HP minimal 8 angka.')
                            this.$refs.no_hp.focus()
                        }
                    } else {
                        this.errors.push('No. HP harus berupa angka.')
                        this.$refs.no_hp.focus()
                    }


                },

                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()

                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                getMembers: function () {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                removeMember: function (id) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: 'DELETE'
                        }
                    }

                    if (confirm('Anda yakin akan menghapus?')) {
                        axios(config)
                            .then((response) => {
                                this.getMembers()
                                alert(response.data.message)

                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                editMember: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                    this.toTop()
                },

                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = 'null'
                    this.idUploadMember = 'null'
                },

                updateMember: function (id) {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: 'PUT'
                            },
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                uploadPhoto: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                    this.toTop()
                },

                submitPhoto: function (id) {
                    let file = this.$refs.photo_profile.files[0]
                    let formData = new FormData()

                    formData.append('photo_profile', file)

                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                showMember: function (id) {
                    this.buttonStatus = 'show'

                    const config = {
                        method: 'get',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    }

                    axios(config)
                        .then((response) => {
                            let member = response.data.member
                            this.name = member.name
                            this.address = member.address
                            this.no_hp = member.no_hp
                            this.photo_profile = member.photo_profile
                        })
                        .catch((error) => {
                            console.log(error)
                        })

                    this.toTop()
                },
            },

            created() {
                this.getMembers()
            },
        })
    </script>
</body>

</html>