<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Form Input Binding</title>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent>
            <input type="text" placeholder="ketikkan kata kunci" v-model="keyword">
        </form>
        <ul>
            <li v-for="book in filteredBooks">{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let books = [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ]

        let vm = new Vue({
            el: '#app',
            data: {
                books: books,
                keyword: ''
            },
            computed: {
                filteredBooks: function () {
                    return this.books.filter(book => book.toLowerCase().includes(this.keyword.trim().toLowerCase()))
                },
            }
        })
    </script>
</body>

</html>